body {
  /* font-weight: bolder; */
    font-family: 'Helvetica','Arial';
    /* background-color:#ffffff; */
    background-color:#000000;
    text-align: left;
    /* color:#000000; */
    color:#ffffff;
    padding-top:10em;
    padding-right: 10em;
    padding-left: 10em;
    line-height:1.7em;
    letter-spacing: 0.03em;
  }
  
  /* * { color:#000000; text-decoration: none;} */
  * { color:#ffffff; text-decoration: none;}

a{
  text-decoration: none;
  /* color: #000000; */
  color: #ffffff;
}

footer {
    position: fixed;
    left: 10em;
    bottom: 5em;
    width: 100%;
    color: white;
    /* color: black; */
    text-align: left;
    text-decoration: none;
 }

 u {
  border-bottom: 2px solid currentColor;
  display: inline-block;
}