{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
	 <meta charset="utf-8">
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	 <script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>
	 <script type="text/javascript" src="jquery-3.4.0.min.js"></script>
	 <link rel="stylesheet" href="{% static 'home/css/jquery.highlighter.css' %}">
	 <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="{% static 'home/js/jquery.highlighter.min.js' %}"></script>


	<title> nathasya e </title>
</head>

<body style="display: none">

	<section>
		<h2 id="desc">Hello, I'm <span>Nathasya Eliora.</span> 
			Second year computer science student at University of Indonesia.
			Java & Python are my friends. 
			HTML, CSS, JS, and Django, too. 
			Enjoy programming and save it nicely <a href="https://gitlab.com/nathasyae"><u>here.</u></a>
			I love art. 
			I do UI/UX design, graphic design, photography, motion graphics, and video editing. 
			Visit my <a href="https://coroflot.com/nathasya-eliora"><u>coroflot</u></a> for fun.
			Know me more <a href="https://linkedin.com/in/nathasya-eliora"><u>here</u></a> or hey let's just <a href="mailto:nathasya.eliora@ui.ac.id" target="_top"><u>talk.</u></a></h2>
	</section>
	<footer>
			<a href="https://linkedin.com/in/nathasya-eliora">e-mail</a> / <a href="https://linkedin.com/in/nathasya-eliora">linkedin</a> / <a href="https://gitlab.com/nathasyae">gitlab</a> / <a href="https://coroflot.com/nathasya-eliora">coroflot</a>
	</footer>

	

<script>
	$(document).ready(function () {
    $(document.body).fadeIn(1500).removeClass('hidden');
	// $("#demo span").highlighter();
});


// $("#desc span").highlighter({

// queue : true,
// pauseTime : 2000,
// duration: 3000,
// timing: 'ease-in-out',
// colorFrom: 'transparent',
// colorTo: '#FFFF00'

// });
</script>

	
</body>
</html>
